<!DOCTYPE html>
<html>
<head>
  <title>urlist</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.15.0/sortable.min.js"></script>
  
  <script src="scripts/jquery.ui.touch-punch.min.js"></script>
  <script src="scripts/urlCheck.js"></script>
  <script src="scripts/app.js"></script>
</head>
<body>
<br />
<div ng-app="myList" ng-controller="myCtrl" class="container-fluid px-5">
  <h2 class="display-3">urlist</h2>
  <ul ui-sortable="sortableOptions" ng-model="items" class="list-group col-*-*">
    <li ng-repeat="x in items" class="list-group-item btn-group">
      <ng-bind-html ng-bind-html="checkItem(x)" class="btn"></ng-bind-html>
      <button ng-click="removeItem($index)" class="btn btn-danger rounded"><i class="material-icons">delete_forever</i></button>
    </li>
  </ul>  
  <br />
  <div class="input-group">
  <form ng-submit="addItem()"><input ng-model="addMe" class="form-control" /></form>
  <button ng-click="addItem()" class="btn btn-primary ml-3">Add</button>
  </div>
  <p>{{errortext}}</p>
  <pre class="list-group-item">{{items}}</pre>
</div>

</body>
</html>


<!-- 
  https://www.w3schools.com/angular/tryit.asp?filename=try_ng_app5
  https://www.webucator.com/blog/2016/10/drag-drop-sortable-angularjs-angular-ui-sortable/
-->