html {
    font-size: 1.4rem;
  }

body {
    background-color: aliceblue;
}

.btn-danger {
    float: right;
}

.material-icons {
  vertical-align: middle;
}

li {
  padding: 0%;
}

.btn {
  margin: 0%;
}